body
{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("trek.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.top-bar
{   
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left
{
    transform: translateX(150px);
}
.left img
{
    margin-top: 7%;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
.row
{
    max-width: 1200px;
    height:100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.row li
{
    display: inline-block;
}

.row li a
{
    color: beige;
    text-decoration: none;
    padding: 15px 20px;
    font-family: "Roboto" sans-serif;
    font-size: 20px;
}

.row li.active a
{
    border: 1px solid beige;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;    
}
.row li a:hover
{
    border: 1px solid beige;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: all 0.3s ease-in;
}
.logo img
{
    height: 200px;
    width: 200px;
}
.image
{
    margin-left: 22.5%;
    padding-top: 10px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;

}
h2{
    color: yellowgreen;
    margin-left: 17%;
}
.over
{
    list-style: none;
    margin-left: 14.5%;
    font-size: 20px;
    color: lightgreen;
}
.con1
{
    margin-left: 17%;
    color: beige;
    font-size: 20px;
    margin-right: 17%;
    text-align: justify;
}
.sublist{
    list-style: none;
    margin-left: 14.5%;
    color: lightgreen;
    font-size: 20px;
    padding-top: 10px;
}
.subsublist
{
    margin-left: 13px;
    color: beige;
    padding: 5px;
}
h1{
    margin-top: 4%;
    color: white;
    text-align: center;
    font-size: 40px; 
}
.tab
{
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    border: 1px solid white;
}
td{
    padding: 5px;
    color: white;
    
}
.heading
{
    background: darkred;
    color: white;
    text-align: center;
}
footer
{
    padding: 2%;
    background-color:grey;
    color: lightcyan;
}